apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: {{ ceph_cluster_name }}
  namespace: {{ ceph_namespace }}
spec:
  cephVersion:
    image: quay.io/ceph/ceph:v19.2.3
    allowUnsupported: false
  dataDirHostPath: /var/lib/rook
  mon:
    count: 3
    allowMultiplePerNode: false
  dashboard:
    enabled: true
    ssl: true
  storage:
    useAllNodes: false
    useAllDevices: false
    config:
      databaseSizeMB: "1024"
      journalSizeMB: "1024"
    nodes:
{% for node in ceph_nodes %}
    - name: "{{ node.name }}"
      devices:
{% for device in node.devices %}
      - name: "{{ device }}"
{% endfor %}
{% endfor %}
  resources:
    mon:
      requests:
        cpu: "500m"
        memory: "1Gi"
      limits:
        cpu: "1000m"
        memory: "2Gi"
    osd:
      requests:
        cpu: "1000m"
        memory: "4Gi"
      limits:
        cpu: "2000m"
        memory: "8Gi"
  network:
    provider: host
  crashCollector:
    disable: false
  cleanupPolicy:
    confirmation: "no"
